<!DOCTYPE html>
<html>
<body>
<p>imported locations from settings file:</p>
<table>
{% for location in locations %}
<tr>
	<td>
	<form action='locations' method='post'>
	<input type='hidden' name='id' value='{{ location.id }}'/>
	<input type='submit' value='Set' style='height:60px; width:100px' />
	</form>
	</td>
	<td>
	<--
	</td>
	<td>
		<a href='geo:0,0?q={{ location.latitude }},{{ location.longitude }}({{ location.name }})'>{{ location.name }}</a>
	</td>
</tr>
{% endfor %}
</table>
</body>
</html>
